/* Write your CSS here */
* {
  margin: 0px;
  font-family: roboto;
  box-sizing: border-box;
}
.course-list-container {
  width: 100%;
}
.course-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.course-card-title {
  color: #1e293b;
  font-size: 18px;
  font-weight: 600;
}
.course-card-side-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-card-duration {
  margin-left: 10px;
}
.tag-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
.tag-list-item-container {
  background-color: lightgrey;
  background-size: cover;
  list-style: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
}
.course-tags {
  color: #1e293b;
  font-size: 14px;
  font-weight: 600;
}
